<div class="container">
<h3>Add a review</h3>
<%= simple_form_for ([restaurant, review]) do |f| %>
  <% if @restaurant.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
  <%= f.input :content, label: 'Describe your experience', error: 'A description is mandatory, please specify one', class: 'form-control'%>
  </div>
  <%= f.button :submit, class: 'btn btn-primary'%>
<% end %>
</div>
